header {
  background-color: #141f40;
  height: 100px;
  width: 400px;
  overflow: hidden;
}

.header__list__container {
  display: flex;
}

.header__list {
  background-color: #ffffff;
  height: 60px;
  width: 160px;
  margin-top: 20px;
  margin-left: 220px;
  list-style: none;
  padding-left: 0px;
}

.header__list__box {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

main {
  display: flex;
}

.sidebar {
  background-color:#80bfa8;
  height: 250px;
  width: 150px;
  float: left;
}

.main {
  background-color: #8c2727;
  height: 250px;
  width: 250px;
  float: left;
}

.main__list {
  margin-top: 40px;
  margin-left: 40px;
  list-style: none;
  padding-left: 0px;
}

.main__list__box {
  height: 40px;
  width: 140px;
  margin-bottom: 10px;
  border: 5px solid	#ffffff;
}

.purple {
  background-color: #a9004b;
}

.orange {
  background-color: #ff863f;
}

.blue {
  background-color: #0000ff;
}

footer {
  background-color: #d98d30;
  height: 100px;
  width: 400px;
}